/* ?RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*? Utilty */

.border-dotted{
    border: 2px dotted black;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.h-test{
    height: 400px;
}

.padding-y-20{
    padding:20px 0px;
}

/*? colors */
.cl-white{color: white;}
.bg-cyan{background-color: #add8e6;}
.bg-orange{background-color: #daa520;}
.bg-blue{background-color: #00008b;}
.bg-pink{background-color: #ee82ee;}
.bg-lblue{background-color: #1e90ff;}
.bg-lpink{background-color: #ffc0cb;}
.bg-grey{background-color: #d3d3d3;}
.bg-green{background-color: #228b22;}
.bg-salmon{background-color: #f08080;}
.bg-dcyan{background-color: #20b2aa;}
.bg-lcyan{background-color: #7fffd4;}
.bg-dgrey{background-color: #23272a;}

/*? header */

header{
    background-color: #3160e0;
}
/* top-bar */


.login-content{
    text-align: end;
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 0.5em 0.8em;
    border: 1px solid transparent;
}

ul{
    list-style: none;
    gap: 2rem;
    flex-grow: 2;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

.top-bar{
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

.padding-topbar{
    padding: 0.5rem 0.3rem;
}

.gr-1{
    flex-grow: 1;
}

/* jumbotron */

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.jumbotron-content{
    width: 100%;
    max-width: 580px;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
}

.btn{
    border-radius: 25px;
    padding: 0.8em 1em;
    border: 1px solid transparent;
}

.btn-black{
    background-color: black;
    color: white;
    margin-left: 1rem;
}

/* .font-size-l{
    font-size: 1.1rem;
} */

.jumbotron-content h1{
    font-size: 2.7rem;
}

/* ?main */

.col-big{
    flex-basis: 65%;
}

.col-small{
    flex-basis: 35%;
}

.col-bigger{
    flex-basis: 100%;
}

/* ?footer */

.col-30{
    flex-basis: 30%;
}

.col-70{
    flex-basis:70%;
}

.col-25{
    flex-basis:25%;
}

.bg-salmon{
    border-color: white;
}

footer section{
    border-bottom: 2px solid white;
}

.copyright-content{
    justify-content: space-between;
    align-items: end;
    padding: 10px 0px;
}

.copyright{
    padding-bottom: 0px;
}

.padding-button{
    padding: 0.1rem 0.3rem;
}