/* ?RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*? Utilty */

.border-dotted{
    border: 2px dotted black;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.h-test{
    height: 400px;
}

.padding-y-20{
    padding:20px 0px;
}

.a-items-center{
    align-items: center;
}

/*? colors */
.cl-white{color: white;}
.bg-cyan{background-color: #add8e6;}
.bg-orange{background-color: #daa520;}
.bg-blue{background-color: #00008b;}
.bg-pink{background-color: #ee82ee;}
.bg-lblue{background-color: #1e90ff;}
.bg-lpink{background-color: #ffc0cb;}
.bg-grey{background-color: #e4e4e4;}
.bg-green{background-color: #228b22;}
.bg-salmon{background-color: #f08080;}
.bg-dcyan{background-color: #20b2aa;}
.bg-lcyan{background-color: #7fffd4;}
.bg-dgrey{background-color: #23272a;}

/*? header */

header{
    background-color: #3160e0;
}
/* top-bar */


.login-content{
    text-align: end;
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 0.5em 0.8em;
    border: 1px solid transparent;
}

ul{
    list-style: none;
    gap: 2rem;
    flex-grow: 2;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

.top-bar{
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

.padding-topbar{
    padding: 0.5rem 0.3rem;
}

.gr-1{
    flex-grow: 1;
}

/* jumbotron */

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.jumbotron-content{
    width: 100%;
    max-width: 580px;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
}

.btn{
    border-radius: 25px;
    padding: 0.8em 1em;
    border: 1px solid transparent;
}

.btn-black{
    background-color: black;
    color: white;
    margin-left: 1rem;
}

.jumbotron-content h1{
    font-size: 2.7rem;
}

/* ?main */

article h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.padding-2{    
    padding: 2rem 2rem;
}

.col-big{
    flex-basis: 65%;
}

.col-small{
    flex-basis: 35%;
}

.col-bigger{
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inizio-avventura{
    background-image: url(../img/stars.svg);
    background-size: contain;
    padding: 2rem 2rem;
    background-repeat: no-repeat;
}

.btn-purple{
    background-color: #8da1e2;
    color: white;
}


/* separator */

.separator{
    background-image: url(../img/wave.svg);
    background-size: cover;
    opacity: 10%;
    height: 100px;
}

.reverse{
    transform: scaleY(-1);
}

/* ?footer */

.social > h2{
    color: #707cb8;
}

.cl-purple{
    color: #707cb8;
}

.padding-b-2{
    padding-bottom: 2rem;
}

.lang{
    font-size: smaller;
}

.lang-flag{
    display: inline;
}

.lang-flag img{
    width: 1rem;
}

li a > img{
    width: 50px;
}

.col-30{
    flex-basis: 30%;
}

.col-70{
    flex-basis:70%;
}

.col-25{
    flex-basis:25%;
}

.col-25 > h3{
    color: white;
    font-weight: 500;
    font-size: small;
    padding-top: 0.5rem;
}

footer section{
    border-bottom: 2px solid white;
}

.copyright-content{
    justify-content: space-between;
    align-items: end;
    padding: 10px 0px;
}

.copyright{
    padding-bottom: 0px;
}

.padding-button{
    padding: 0.1rem 0.3rem;
}

