/* ?RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*? Utilty */

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.d-flex{display: flex;}

.padding-y-20{padding:20px 0px;}

.a-items-center{align-items: center;}

/*? colors */

.bg-white{background-color: white;}

.cl-white{color: white;}

.cl-purple{color: #707cb8;}

.bg-grey{background-color: #e4e4e4;}

.bg-dgrey{background-color: #23272a;}

.bg-purple{background-color: #8da1e2;}

.bg-blue{background-color: #3160e0;}

/*? header */


/*! btn */

.btn{
    border-radius: 25px;
    padding: 0.8em 1em;
    border: 1px solid transparent;
}

.btn-black{
    background-color: black;
    margin-left: 1rem;
}

.btn:hover{
    opacity: 50%;
    cursor: pointer;
}

/* top-bar */

.login-content{
    /text-align: end;
    background-color: white;
    border-radius: 25px;
    padding: 0.5em 0.8em;
    border: 1px solid transparent; 
}

ul{
    list-style: none;
    gap: 2rem;
    flex-grow: 2;
    justify-content: center;
}

.top-bar a{text-decoration: none;}


.top-bar-content{
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

.padding-topbar{padding: 0.5rem 0.3rem;}

.gr-1{flex-grow: 1;}

/* jumbotron */

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.jumbotron-content{
    width: 100%;
    max-width: 580px;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
}


.jumbotron-content h1{font-size: 2.7rem;}

/* ?main */

article h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.padding-2{    
    padding: 2rem 2rem;
}

.col-big{
    flex-basis: 65%;
}

.col-small{
    flex-basis: 35%;
}

.col-bigger{
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inizio-avventura{
    background-image: url(../img/stars.svg);
    background-size: contain;
    padding: 2rem 2rem;
    background-repeat: no-repeat;
}



/* separator */

.separator{
    background-image: url(../img/wave.svg);
    background-size: cover;
    opacity: 10%;
    height: 100px;
}

.reverse{
    transform: scaleY(-1);
}

/* ?footer */

.social > h2{
    color: #707cb8;
}

.padding-b-2{
    padding-bottom: 2rem;
}

.lang{
    font-size: small;
}

.lang-flag{
    display: inline;
}

.lang-flag img{
    width: 1rem;
}

li a > img{
    width: 50px;
}

.col-30{
    flex-basis: 30%;
}

.col-70{
    flex-basis:70%;
}

.col-25{
    flex-basis:25%;
}

.col-25 > h3{
    color: white;
    font-weight: 500;
    font-size: small;
    padding-top: 0.5rem;
}

footer section{
    border-bottom: 1px solid white;
}

.copyright-content{
    justify-content: space-between;
    align-items: end;
    padding: 10px 0px;
}


